/*1. configuraci칩n base*/

/*estilos globales de las secciones*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #7241c65c;
}

header {
    background-color: #8574cf;
    border-bottom: 1px solid #312273; 
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

header h1 {
    font-size: 2rem;
    color: #ffffff;  
    margin: 0;
    font-weight: 700;
}

/* corresponde a <main class="contenedor-principal"> */
.contenedor-principal {
    max-width: 1000px;
    margin: 1rem auto; /* contenido centrado*/
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/*2. modelo cajas*/

 h2{
    font-size: 1rem;
    color: #3b0456; 
    font-weight: 600;
    margin: 1rem auto;
    background-color: #ffffff;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
    padding: 1.5rem; /*relleno*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.bloque-contenido {
    background-color: #ffffff;
    border-radius: 0.75rem;
    border: 1px solid #e5e7eb;
    padding: 1.5rem; /*relleno*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    text-align: left;
}
/* color del texto del bloque del contenido */
.bloque-contenido p {
    color: #ae2793; /* para p치rrafos */
    font-size: 0.875rem;
}

footer {
    text-align: center;
    padding: 2rem;
}

footer p {
    color: #400738; /* Rojo solicitado para el pie de p치gina */
    font-weight: 400;
}

.imagen-responsiva {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
}

/*utilizaci칩n mediaqueries*/
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }
    
    header h1 {
        font-size: 1.5rem;
    }

    .contenedor-principal {
        padding: 0 0.5rem;
    }

    .bloque-contenido {
        padding: 1rem;
    }
}